.buttonArrow {
    /* composes: button from './tile.css'; */
    /* display: grid; */
    grid-row-start: 1;
    outline: none;
    font-weight: bolder;
    width: 65px;
    height: 35px;
    border-radius: 4px;
    border: 2.3px solid #CACBD0;
}

.buttonArrow:hover{
    border-radius: 4px;
    background-color: #800080;
    border-color: #800080;
    color: white;
    transition: all 0.3s ease-in-out
}

.buttonInactive {
    composes: buttonArrow;
    color: #999;
}
