.root {
    display: grid;
    /* grid-auto-columns: 1.75rem; */
    grid-template-columns: auto;    
    grid-template-rows: 1fr;
    grid-column-gap: 1.05rem;
    justify-content: center;
    padding-top: 1.7rem;
    padding-bottom: 1rem;
    background-color: white;
    border-top: 1px solid #ccc;
    text-align: center;
    align-items: center;
}
