.button {
    grid-row-start: 1;
    outline: none;
    position: relative;
    font-weight: bolder;
    width: 20px;
    height: 22px;
}

.marker {
    /* position: absolute; */
    /* border: 1px solid; */
    composes: button;
    border-radius: 4px;
    bottom: 0;
    background-color: #800080;
    color: white;
    opacity: 1;
    animation: opacity 0.28s ease-in-out normal;
}

@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
  }