.root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 2.6rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}
