.root {
    font-family: sans-serif;
    margin: 0px;
}

.root:hover{
    box-shadow: 0.1px 1px 12px 0.5px #DADEDF;
    transition: ease-in-out 0.52s;
}

@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}

.images {
    display: grid;
    grid-template-areas: 'main';
    margin-bottom: 1.4rem;
}

.imageContainer {
    grid-area: main;
}

.image {
    display: block;
    height: auto;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    width: 100%;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-grey));
}

.name,
.price {
    font-size: 14px;
    line-height: 21px;
    font-weight:700;
    margin: 0.55rem 0.5rem;
    min-height: 1rem;
}

/* state: pending */

.root_pending {
    composes: root;
}

.image_pending {
    composes: image;
    background-color: rgb(var(--venia-grey));
}

.images_pending {
    composes: images;
}

.name_pending {
    composes: name;
    background-color: rgb(var(--venia-grey));
}

.price_pending {
    composes: price;
    background-color: rgb(var(--venia-grey));
    width: 3rem;
}
